# ========================
# IDE
# ========================
.idea/
*.iml

# ========================
# Docker
# ========================
/docker-compose.override.yml
**/Dockerfile

# ========================
# Symfony / Backend
# ========================
/backend/.env
/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local
/backend/var/
/backend/vendor/
/backend/public/bundles/

/phpunit.xml
/.phpunit.cache/

# ========================
# Next.js / Frontend
# ========================
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/build/
/frontend/.vercel/
/frontend/*.pem

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*
/frontend/.env*
/frontend/.DS_Store
/frontend/.pnp
/frontend/.pnp.*

# ========================
# Misc
# ========================
*.log
